<nav class="w3-bar w3-indigo">
  <a href="#" class="w3-bar-item w3-button">
    <img [routerLink]="'/'" src="../../assets/student-logo-png-8.png" class="logo">
  </a>
  <h3 class="w3-bar-item w3-center role">Logged in as {{role}}</h3>
  <div class="w3-dropdown-hover roles w3-right">
    <button class="w3-button">Switch Roles</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a (click)="changeRole(roles.REGISTRAR)" class="w3-bar-item w3-button">Registrar</a>
      <a (click)="changeRole(roles.ADMIN)" class="w3-bar-item w3-button">Admin</a>
    </div>
  </div>
</nav>
