<div class="w3-container">
  <div class="w3-panel w3-round-small w3-indigo">
    <h3 class="header">Student List</h3>
    <button [routerLink]="['/add']" class="w3-button add-new w3-green custom-button"><i
      class="w3-medium fa fa-plus"></i> Add New Student
    </button>
  </div>
  <div *ngIf="studentList">
    <span><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text" [(ngModel)]='filterData'></span>

    <div class="w3-panel w3-green" *ngIf="(studentList | filter:filterData).length == 0">
      <p>No students found <span *ngIf="filterData"> with search "{{filterData}}"</span></p>
    </div>
    <div class="w3-panel w3-light-grey w3-padding-16 w3-card-2"
         *ngIf="(studentList | filter:filterData | filter:filterData).length != 0">
      <table class="w3-table w3-striped w3-bordered">
        <tr>
          <th><i class="w3-medium custom-icon fa fa-refresh"></i> Sr. No.</th>
          <!-- <th>ID</th> -->
          <th><i class="w3-medium custom-icon fa fa-user"></i> First Name</th>
          <th><i class="w3-medium custom-icon fa fa-user"></i> Last Name</th>
          <th><i class="w3-medium custom-icon fa fa-envelope-o"></i> Date of Birth</th>
        </tr>
        <tr *ngFor="let student of studentList | filter:filterData; index as i;" (click)="openStudentModal(student.ID)">
          <td>{{i +1}}</td>
          <td class="pointer">{{student.firstName}}</td>
          <td class="pointer">{{student.lastName}}</td>
          <td class="pointer">{{student.dateOfBirth | date}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-student-details #studentModal></app-student-details>
