<div class="w3-container">
  <fieldset [disabled]="id && userRole === 'admin'">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Date Of Birth</label>
        <input type="date" formControlName="dateOfBirth" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }"/>
        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
          <div *ngIf="f.dateOfBirth.errors.required">Date Of Birth is required</div>
        </div>
      </div>

      <div *ngIf="id && userRole === 'registrar'" class="form-group">
        <button type="button" (click)="updateStudent()" class="btn btn-primary">Update</button>
      </div>

      <div class="form-group">
        <label>Nationality</label>
        <select formControlName="nationality" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }">
          <option *ngFor="let n of nationalities" [ngValue]="n.ID">{{ n.Title }}</option>
        </select>
        <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
          <div *ngIf="f.nationality.errors.required">Nationality is required</div>
        </div>
      </div>

      <div *ngIf="id && userRole === 'registrar'" class="form-group">
        <button type="button" (click)="addStudentNationality(id)" class="btn btn-primary">Update Nationality</button>
      </div>

      <div formArrayName="families">
        <div *ngFor="let family of registerForm.get('families').controls; let i=index">
          <h3>Family Member {{i + 1}}</h3>
          <span [hidden]="id && userRole === 'admin'" (click)="removeFamilyMemberForm(i, family.get('id').value)"
                class="remove-family fa fa-remove w3-right"></span>
          <div [formGroupName]="i">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.controls.firstName.errors }"/>
              <div *ngIf="submitted && f.controls.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.controls.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.controls.lastName.errors }"/>
              <div *ngIf="submitted && f.controls.controls.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.controls.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Realtionship</label>
              <input type="text" formControlName="relationship" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.controls.dateOfBirth.errors }"/>
              <div *ngIf="submitted && f.controls.relationship.errors" class="invalid-feedback">
                <div *ngIf="f.controls.relationship.errors.required">Date Of Birth is required</div>
              </div>
            </div>

            <div class="form-group">
              <label>Nationality</label>
              <select formControlName="nationality" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.controls.nationality.errors }">
                <option *ngFor="let n of nationalities" [ngValue]="n.ID">{{ n.Title }}</option>
              </select>
              <div *ngIf="submitted && f.controls.nationality.errors" class="invalid-feedback">
                <div *ngIf="f.controls.nationality.errors.required">Nationality is required</div>
              </div>
            </div>
            <div *ngIf="id && userRole === 'registrar'" class="form-group">
              <button type="button" *ngIf="family.get('id').value && family.get('id').value !== ''"
                      (click)="addFamilyMemberNationality(family.get('id').value, family.get('nationality').value)"
                      class="btn btn-primary">Update Family Member Nationality
              </button>
            </div>
          </div>
        </div>
      </div>
      <a [hidden]="id && userRole === 'admin'" class="add-family w3-right" (click)="addFamilyMemberForm()"><i
        class="fa fa-plus"></i> Add Family Member</a>
      <div *ngIf="id && userRole === 'registrar'" class="form-group">
        <button type="button" (click)="updateFamilyMembers(id)" class="btn btn-primary">Update Family Members</button>
      </div>

      <div class="form-group">
        <button *ngIf="!id && userRole === 'admin'" class="btn btn-primary">Register</button>
      </div>
    </form>
  </fieldset>
</div>

